{% extends "layout/base.html" %}
{% block content %}
<div class="public-container">
<h3>Public Posts</h3>
{% for post in posts %}
<div class="post" data-id="{{ post.id }}">
  <strong>{{ post.user }}</strong>: {{ post.content }}
  <div class="reactions">
    <button onclick="sendReaction('👍', {{ post.id }})">👍</button>
    <button onclick="sendReaction('❤️', {{ post.id }})">❤️</button>
    <span class="reaction-count"></span>
  </div>
</div>
{% endfor %}
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/static/js/reactions.js"></script>
{% endblock %}
