body{
  background:#0f0f0f;
  color:#f5d37a;
  font-family:Arial;
  padding:20px;
}
button{
  background:#c9a227;
  border:none;
  padding:8px 14px;
  color:black;
  font-weight:bold;
}
input{
  padding:8px;
  margin:5px 0;
}
#users div{
  cursor:pointer;
  padding:6px;
  border-bottom:1px solid #333;
}
#messages{
  min-height:200px;
  border:1px solid #333;
  margin:10px 0;
  padding:10px;
}
