body {
    background: #0f172a;
    font-family: Arial;
    margin: 0;
}

.chat-container {
    max-width: 420px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #020617;
}

.header {
    background: #1e293b;
    color: white;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}

.top-controls {
    display: flex;
    gap: 5px;
    padding: 8px;
}

.top-controls input {
    flex: 1;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.top-controls button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.me {
    background: #2563eb;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    text-align: right;
}

.them {
    background: #334155;
    color: white;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

.system {
    color: gray;
    text-align: center;
    font-size: 12px;
    margin: 5px;
}

.input-box {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.input-box input {
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.input-box button {
    background: #22c55e;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    }
