body {
    background: #0d0d0d;
    font-family: Arial;
    color: white;
}

.chat-container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    background: #111;
    padding: 15px;
    border-radius: 10px;
}

.welcome {
    text-align: center;
    color: gold;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid gold;
    padding: 5px;
    margin-bottom: 10px;
}

input {
    width: 70%;
    padding: 6px;
}

button {
    width: 25%;
    background: gold;
    border: none;
    padding: 6px;
}
