body {
    background: #111;
    font-family: Arial;
    color: #fff;
}

.container {
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: gold;
}

#chat {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 75%;
    padding: 8px;
}

button {
    width: 20%;
    padding: 8px;
    background: gold;
    border: none;
    cursor: pointer;
}
