<!DOCTYPE html>
<html>
<head>
<title>Chat</title>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>

<body>
<h3>Welcome, {{ username }}</h3>
<p><b>App language:</b> English</p>
<p><b>Messages:</b> Any language allowed</p>

<input id="receiver" placeholder="Send to (username)">
<br><br>

<div id="chat" style="border:1px solid #000;height:200px;overflow:auto;"></div>

<input id="msg" placeholder="Type your message">
<button onclick="send()">Send</button>

<br><br>
<a href="/logout">Logout</a>

<script>
var socket = io();
var username = "{{ username }}";

function send(){
    let msg = document.getElementById("msg").value;
    let receiver = document.getElementById("receiver").value;

    socket.emit("send_message", {
        sender: username,
        receiver: receiver,
        message: msg
    });

    document.getElementById("msg").value = "";
}

socket.on("receive_message", function(data){
    if (
        data.sender === username ||
        data.receiver === username
    ){
        let box = document.getElementById("chat");
        box.innerHTML += "<p><b>" + data.sender + ":</b> " + data.message + "</p>";
        box.scrollTop = box.scrollHeight;
    }
});
</script>
</body>
</html>
