<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SM Chat</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>
<body>

<div class="chat-container">
    <h2 class="welcome">Welcome to SM Chat</h2>

    <div id="messages"></div>

    <input id="msg" placeholder="Type message..." autocomplete="off">
    <button onclick="sendMsg()">Send</button>
</div>

<script>
    const socket = io();

    socket.on('message', function(msg){
        let div = document.createElement("div");
        div.textContent = msg;
        document.getElementById("messages").appendChild(div);
    });

    function sendMsg(){
        let input = document.getElementById("msg");
        socket.send(input.value);
        input.value = "";
    }
</script>

</body>
  </html>
