<!DOCTYPE html>
<html>
<head>
  <title>Register – SMchat</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="view active">
  <h2 style="color:var(--gold)">Register</h2>

  <form method="POST">
    <input name="username" placeholder="Username" required>
    <input name="password" type="password" placeholder="Password" required>
    <button type="submit">Create Account</button>
  </form>

  <p style="color:var(--muted)">
    Already have account? <a href="/login">Login</a>
  </p>
</div>

</body>
</html>
